.container {
    background: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .wrapper {
    display: flex;
    width: calc(100% - 160px);
    margin: 0;
    justify-content: left;
    max-width: 1440px;
  }
  .wrapper_bottom {
      margin-top: 96px;
  }
  .wrapper_top {
      justify-content: space-between;
  }
  
  @media screen and (max-width: 1279px) {
    .wrapper {
      width: calc(100% - 80px);
    }
  }
  @media screen and (max-width: 768px) {
    .heading {
      width: calc(100% - 30px);
    }
    .container {
      margin-bottom: 15px;
    }
  }
  