.container {
  background: #232232;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Nunito', helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #fff;
  text-align: left;
  width: calc(100% - 160px);
  margin: 50px 0 0 0;
}
.wrapper {
  display: flex;
  width: calc(100% - 160px);
  margin: 0;
  justify-content: left;
}

@media screen and (max-width: 1279px) {
  .heading {
    width: calc(100% - 80px);
  }
  .wrapper {
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: calc(100% - 30px);
  }
  .heading {
    width: calc(100% - 30px);
  }
}
