.container {
  width: 100%;
}
.button {
  min-width: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  margin: 120px auto 0 auto;
  background: #e4e4f5;
  font-family: 'Nunito', helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: 4px solid #e4e4f5;
  transition: all 0.2s ease-in-out;
}
.button:hover {
    background: #fff;
}

@media screen and (max-width: 768px) {
  .button {
    margin-top: 60px;
  }
}
