.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.news_heading {
    font-family: "Nunito", helvetica, sans-serif;
    font-size: 36px;
    margin: 80px auto 20px auto;
    font-weight: 700;
    width: 1280px;
}
.link {
    font-family: "Nunito", helvetica, sans-serif;
    font-size: 36px;
    cursor: pointer;
    color: #A259FF;
    width: 1280px;
    margin: 50px auto 0 auto;
}