.container {
    width: 100%;
}
.news_heading {
    font-family: "Nunito", helvetica, sans-serif;
    font-size: 36px;
    margin: 80px auto 20px auto;
    font-weight: 700;
    width: 1280px;
}
.news {
    list-style-type: none;
    margin: 20px auto 15px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 1280px;
    max-height: 600px;
    overflow-y: scroll;

}
.news_item {
    margin: 10px 0;
    width: 100%;
    outline: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.news_item:hover {
    outline: 3px solid red;
}
.item_heading {
    font-family: "Nunito", helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 20px;
}
.item_image {
    width: 150px;
    height: 80px;
}
.button_contaner {
    display: flex;
    gap: 10px;
    margin: 0 auto 80px 0;  
    justify-content: center;
}
.page_button {
    width: 40px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Nunito", helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #a259ff;
    transition: all 0.1s ease-in-out;
}
.page_button:hover {
    outline: 2px solid #a259ff;
}
.page_button_active {
    outline: 2px solid #a259ff;
}