.container {
  display: flex;
  flex-direction: column;
  /* max-width: 400px; */
  font-family: 'Nunito', helvetica, sans-serif;
  cursor: pointer;
  min-height: 100%;
}

.image {
  width: 27vw;
  height: auto;
  object-fit: fill;
  display: block;
  max-width: 483px;
}
.tag {
  color: #ffffff;
  background: #232232;
  opacity: 0.9;
  border-radius: 4px;
  width: fit-content;
  padding: 1px 8px;
  margin: 24px 0;
}
.heading {
  font-family: 'Nunito', helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
.text {
  font-size: 16px;
  line-height: 22px;
  color: #4a4a5a;
}
.bottom_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto 0 33px 0;
}

.date {
  text-transform: uppercase;
  font-family: 'Nunito', helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  margin: 0;
  text-transform: uppercase;
}
.icon {
  width: 22px;
  height: 20px;
}
.comments_wrapper {
  display: flex;
 
}
.comments_count {
  margin: 0 0 0 14px;
  font-family: 'Nunito', helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
}
