.container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', helvetica, sans-serif;
  cursor: pointer;
  padding: 24px;
  background: #e4e4f5;
}
.wrapper {
    display: flex;
    max-height: 280px;

}
.container::before {
  position: absolute;
  content: ' ';
  background: #fff;
  transform: rotate(45deg);
  bottom: -22px;
  right: -22px;
  width: 45px;
  height: 45px;
}
.text {
  font-size: 16px;
  line-height: 22px;
  color: #4a4a5a;
}
.tag {
  color: #ffffff;
  background: #232232;
  opacity: 0.9;
  border-radius: 4px;
  width: fit-content;
  padding: 1px 8px;
  margin: 0;
}

.bottom_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.heading {
  font-family: 'Nunito', helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin: 12px 0 0 0;
}
.heading_currency {
    margin-bottom: 11px;
}

.date {
  text-transform: uppercase;
  font-family: 'Nunito', helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  margin: 0;
  text-transform: uppercase;
}
.icon {
  width: 22px;
  height: 20px;
}
.comments_wrapper {
  display: flex;
  margin-right: 12px;
}
.comments_count {
  margin: 0 0 0 14px;
  font-family: 'Nunito', helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
}
.currency {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  border: 1px solid rgba(23, 22, 32, 0.2);
  box-sizing: border-box;
  min-width: 180px;
  padding: 21px 34px 35px 26px;
  position: relative;
}
.currency::before {
  content: ' ';
  width: 45px;
  height: 45px;
  position: absolute;
  transform: rotate(45deg);
  bottom: -23px;
  right: -23px;
  background: #fff;
  border-left: 1px solid rgba(23, 22, 32, 0.2);
}
.currency_container {
  display: flex;
  margin-top: 22px;
}
.currency_name {
  font-family: 'Nunito', helvetica, sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0 22px 0 0;
}
.currency_value {
  font-family: 'Nunito', helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 4px 0 0 0;
}
