.container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', helvetica, sans-serif;
  cursor: pointer;
  padding: 24px;
  background: #e4e4f5;
  overflow: hidden;
}
.wrapper {
    display: flex;
}
.wrapper_bottom {
  max-width: 30%;
}
.container::before {
  position: absolute;
  content: ' ';
  background: #fff;
  transform: rotate(45deg);
  bottom: -22px;
  right: -22px;
  width: 45px;
  height: 45px;
}
.text {
  font-size: 16px;
  line-height: 22px;
  color: #4a4a5a;
  margin: auto 0 15px 0;
}
.tag {
  color: #ffffff;
  background: #232232;
  opacity: 0.9;
  border-radius: 4px;
  width: fit-content;
  padding: 1px 8px;
  margin: 0;
}

.bottom_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto 0 0 0;
}
.heading {
  font-family: 'Nunito', helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin: 12px 0 15px 0;
}
.heading_currency {
    margin-bottom: 11px;
}

.date {
  text-transform: uppercase;
  font-family: 'Nunito', helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  margin: 0;
  text-transform: uppercase;
}
.icon {
  width: 22px;
  height: 20px;
}
.comments_wrapper {
  display: flex;
  margin-right: 12px;
}
.comments_count {
  margin: 0 0 0 14px;
  font-family: 'Nunito', helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
}

@media screen and (max-width: 1179px) {

  .wrapper_bottom {
    max-width: 45%;
    max-height: unset;
  }
  
}

@media screen and (max-width: 768px) {
  .wrapper{
    max-height: unset;
  }
  .wrapper_bottom {
    max-width: unset;
  }
  
}