.header {
  display: flex;
  justify-content: center;
  background-color: #232232;
  margin: 0;
  width: 100%;
  padding: 0;
  height: 90px;
  min-width: 360px;
}
.wrapper {
  width: calc(100% - 160px);
  display: flex;
  flex-direction: row;
  max-width: 1440px;
}
.link {
  display: flex;
  margin: 0 0 20px 0;
}
.logo {
  background-image: url('../../images/header/header_logo.svg');
  width: 225px;
  height: 70px;
}
.tabs {
  display: flex;
  flex-flow: row;
  margin: 0 0 0 8%;
  gap: 4vw;
}
.button {
  width: 44px;
  height: 44px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: relative;
  cursor: pointer;
  z-index: 5;
  margin: 15px 0 0 auto;
}
.button_bar {
  content: ' ';
  width: 28px;
  height: 3px;
  background: #fff;
  top: 11px;
  left: 8px;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.button_bar:nth-of-type(2) {
  content: ' ';
  width: 28px;
  height: 3px;
  background: #fff;
  top: 21px;
  left: 8px;
  position: absolute;
}
.button_bar:nth-of-type(3) {
  content: ' ';
  width: 28px;
  height: 3px;
  background: #fff;
  top: 31px;
  left: 8px;
  position: absolute;
}
.open .button_bar {
  left: 11px;
  width: 22px;
  transform: translate(0, 10px) rotate(-45deg);
}
.open .button_bar:nth-of-type(3) {
  left: 11px;
  width: 22px;
  transform: translate(0, -10px) rotate(45deg);
}
.open .button_bar:nth-of-type(2) {
  opacity: 0;
}
@media screen and (max-width: 1279px) {
  .tabs {
    margin: 0 0 0 4%;
    gap: 15px;
  }
  .wrapper {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: calc(100% - 30px);
  }
  
}
@media screen and (min-width: 1440px) {
  .tabs {
    gap: 60px;
  }
}
