.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 56px;
  overflow: hidden;
}
.content {
  width: calc(100% - 160px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'vertical_top horizontal horizontal'
    'vertical_top single vertical_middle'
    'horizontal_image horizontal_image vertical_middle';
  max-width: 1440px;
  gap: 40px;
}
.news_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 13px;
  grid-area: short_list;
}
.news_wrapper_line {
  position: absolute;
  outline: 1px solid rgba(23, 22, 32, 0.2);
  width: 100%;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1279px) {
  .content {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: calc(100% - 30px);
    grid-template-columns: 1fr;
    grid-template-areas:
      'currency'
      'vertical_top'
      'single'
      'vertical_middle'
      'short_list'
      'vertical_bottom';
    grid-template-rows: auto;
  }
  .container {
    width: 100%
  }
}
