.container {
  display: flex;
  flex-direction: row;
  margin-top: 47px;
  width: calc(100% - 160px);
  max-width: 1440px;
  margin-bottom: 0;
  color: #000;
  color: #413b9c;
  font-size: 18px;
  line-height: 25px;
  font-family: 'Nunito', helvetica, sans-serif;
}
.crumb {
    color: #413B9C;
    text-decoration: none;
}

@media screen and (max-width: 1279px) {
    .container {
      width: calc(100% - 80px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: calc(100% - 30px);
    }
  }
  